*.cache
Makefile*
Debug/
Release/
Output/
DebugStatic/
ReleaseStatic/
StaticRelease/
StaticDebug/
release/
debug/
Deploy/
Win32/
GeneratedFiles/
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
